.banner {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/image/lotus.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  &_image {
    img {
      width: 250px;
    }
  }
  &_text {
    text-align: center;
    color: aliceblue;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1rem;
      margin-bottom: 3rem;
    }
  }
  @media screen and (min-width: 1000px) {
    &_image {
      img {
        width: 350px;
      }
    }
    &_text {
      h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.5rem;
      }
    }
  }
  @media screen and (min-width: 1900px) {
    &_image {
      img {
        width: 550px;
      }
    }
    &_text {
      h1 {
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
      }
      h3 {
        font-size: 2.5rem;
      }
      h4 {
        margin-bottom: 4rem;
        font-size: 2.5rem;
      }
    }
  }
}
